body{
    background-image: url("../images/background1.jpg");
    background-size: cover;
    /* background-position: left; */
    /* background: grey; */
    
}

/* .jumbotron{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
} */


