body{
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-position: center;
    /* background: grey; */
    font-family:'Times New Roman', Times, serif
    
}

/* .jumbotron{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
} */


h1{
    font-size: 70px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

h5{
    font-style: italic;
}


